body {
    font-family:orange;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    color:orange;
    text-align: center;
}

.text-big {
    font-family: 'Raleway', sans-serif;
    border-bottom: 1px solid #E4BB97;
    font-size: 300%;
}

.bold {
    padding-bottom: 60px;
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

