body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    color:#444444;
    text-align: center;
}

.text-big {
    border-bottom: 1px solid #E4BB97;
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

